python-dotenv~=1.1.0
huggingface-hub~=0.31.1
torch~=2.7.0+cu118
trl~=0.17.0
datasets~=3.6.0
transformers~=4.51.3
peft~=0.15.2
docling~=2.32.0
chromadb~=1.0.9
openai~=1.78.1
pydantic~=2.11.4
numpy~=2.1.2
evaluate~=0.4.3
pandas~=2.2.3
ipython~=9.2.0
streamlit~=1.45.1
seaborn~=0.13.2
matplotlib~=3.10.3
pypdf~=5.4.0